<%= simple_form_for (@order) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="row mx-auto pt-1">
  <div class="col-12 row align-items-center my-3">
  <div class="h3 mb-0 col-1"><%= page_title %></div>
  <%= f.input :number, label: false, as: :string, disabled: true, placeholder: "Номер заказа" , wrapper_html: { class: "col-1" } %>
  <div class="col-1 text-center">от</div>
  <%= f.input :created_at, label: false, as: :date, html5: true, disabled: true, placeholder: "Дата", wrapper_html: { class: "col-2" } %>
  </div>
  <div class="col-12 row align-content-start mb-5">
  <% if current_user.admin? || current_user.operator? %>
    <%= f.association :user, label: "Менеджер", input_html: { class: "form-select" }, wrapper_html: { class: "col-2" } %>
  <% else %>
    <%= f.association :user, label: "Менеджер", disabled: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-2" } %>
  <% end %>

    <%= f.input :status, label: "Статус", collection: Order::STATUS, prompt: "Статус", input_html: { class: "form-select" } , wrapper_html: { class: "col-2" } %>
    <%= f.association :client, prompt: "Выберите контакт", label: "Контакт", label_method: :order_contact_name, value_method: :id, input_html: { class: "form-select" }, wrapper_html: { class: "col-3" } %>
    <div class="form-group col-4">
      <label class="">Данные контакта:</label><br>
      <% if @order.client %>
      <small class="form-text text-muted">
      Телефон: <%= @order.client.phone %> E-mail: <%= @order.client.email %><br>
      Область: <%= @order.client.state %> Адрес: <%= @order.client.address %>
      </small>
      <% end %>
    </div>

    <%# f.association :company, prompt: "Компания", input_html: { class: "form-select" }, include_blank: true, selected: lambda { |company|  @order.client.companies.first.id if !@order.company_id.present? && @order.client.companies.present? }, wrapper_html: { class: "col-6 mt-3" } %>
    <%# f.association :company, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-7 mt-3" } %>
    <%# f.input :company_title, as: :autocomplete, label: "Компания", url: autocomplete_company_title_orders_path, wrapper_html: { class: "col-6 mt-3" }, input_html: { 'data-id-element' => '#order_company_id' } %>
    <%# f.input :company_id, as: :hidden %>
    <%# f.association :companykp1, label: 'Компания КП1', collection: Company.our, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-2" } %>
    <%# f.association :companykp2, label: 'Компания КП2', collection: Company.our, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-2" } %>
    <%= f.association :companykp3, label: 'Компания КП3', collection: Company.our, prompt: false, include_blank: true, input_html: { class: "form-select" }, wrapper_html: { class: "col-2" } %>
  </div>
  <div class="col-12 row align-content-start align-items-center">
    <% if @order.new_record? %>
    <p>Это новый заказ. Сохраните заказ для создания КП</p>
    <% else %>
    <div class="col-4 h4">Коммерческие предложения</div>
    <% if can? :create, Kp%>
    <%= link_to 'Создать', new_order_kp_path(@order), class: 'btn btn-dark col-2' if !@order.new_record? %>
    <% end %>
      <div class="card card-body border-light shadow-sm table-wrapper col-12 mt-3 ">

      <table class="table table-hover">
        <thead>
          <tr>
            <!--<th>Тип КП</th>-->
            <th>Статус</th>
            <th>Название</th>
            <th>Дата</th>
            <th>Кол-во поз</th>
            <th>Сумма</th>
            <th>Комментарий</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order.kps.order('created_at' => 'asc' ).each do |kp| %>
            <tr class="align-middle <%= kp_status_bg_color(kp.status) if kp.status.include?('Финальный') %>">
              <!--<td><%# kp.vid %></td>-->
              <td class="<%= kp_status_bg_color(kp.status)%>"><%= kp.status %></td>
              <td><%= kp.title %></td>
              <td><%= kp.created_at.strftime("%d.%m.%Y") %></td>
              <td><%= kp.kp_products.count %></td>
              <td style="width:135px;"><%= number_to_currency(kp.kp_products.sum(:sum), unit: '₽ ', delimiter: ' ', format: "%n %u") %></td>
              <td><%= kp.comment %></td>
              <td>
              <div class="btn-group text-center align-items-center" role="group" aria-label="">
                <%= link_to 'Редактировать', edit_order_kp_path(@order, kp), title: 'Редактировать', class: 'btn btn-outline-secondary btn-sm' %>
                <%= link_to 'Копировать', copy_order_kps_path(@order, kp), title: 'Копировать', class: 'btn btn-outline-secondary btn-sm' if can? :copy, Kp %>
                <div class="btn-group" role="group">
                  <button id="dropdownId" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Печать</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <%= link_to @order.companykp1.title, print1_order_kps_path(@order, kp, :format => :pdf), class: 'dropdown-item', target: '_blank' %>
                  <%= link_to @order.companykp2.title, print2_order_kps_path(@order, kp, :format => :pdf), class: 'dropdown-item', target: '_blank' %>
                  <%= link_to @order.companykp2.title+" ранд", print2_order_kps_path(@order, kp, :format => :pdf, type: 'random'), class: 'dropdown-item', target: '_blank' %>
                  <%= link_to 'КП3', print3_order_kps_path(@order, kp, :format => :pdf), class: 'dropdown-item', target: '_blank' %>
                  <%= link_to "КП3 ранд", print3_order_kps_path(@order, kp, :format => :pdf, type: 'random'), class: 'dropdown-item', target: '_blank' %>
                  <%= link_to 'Пустое (xlsx)', print4_order_kps_path(@order, kp, :format => :xlsx), class: 'dropdown-item' %>
                  </div>
                </div>
                <%= link_to '1C (xlsx)', print1c_order_kps_path(@order, kp, :format => :xlsx), class: 'btn btn-outline-secondary btn-sm' %>
                <%= link_to '<span class="oi oi-trash"></span>'.html_safe, [@order, kp], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm' if current_user.admin?%>
              </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-2 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Назад', orders_path, class: 'btn btn-outline-primary' %>
  </div>
</div>
<% end %>
