<% kp_p = f.object.present? ? f.object : f %>
<tr class="nested-fields align-middle" id="nested-fields-<%= kp_p.id%>" data-kp-p-id="<%= kp_p.id%>">
  <td width="60px" height="50px">
      <% image = kp_p.product.present? && kp_p.product.images.present? ? kp_p.product.images.first : ''%>
      <%= image_tag image, class: "mx-auto d-block" %>
  </td>

  <td class="" style="width:30%;">
      <%# f.association :product, label: false, collection: Product.all.map { |product| ["("+product.sku+") "+product.title, product.id, {data: {sku: product.sku}}] } %>
    <%= f.input :product_title, as: :autocomplete, label: false, url: autocomplete_product_title_order_kps_path , input_html: {onkeyup: "getId(this.id)", onclick:"productAutocomplete(this.id)"} %>
    <%= f.input :product_id, as: :hidden %>
  </td>
  <td>
    <% pr_sku = kp_p.product.present? ? kp_p.product.sku : '' %>
    <% sku = kp_p.sku.present? ? kp_p.sku : pr_sku %>
    <%= f.input :sku , label: false, input_html: { value: sku } %>
  </td>
   <td>
   <div class="row">
     <%= render 'kp_products/desc_wrap', :kp_p => kp_p %>
     <div class="col-md-12">
      <%= f.input :use_desc, label: 'включить', as: :boolean, boolean_style: :inline, :input_html => { :checked => true } %>
     </div>
   </div>
    </td>
  <td style="width:90px;"><%= f.input :quantity, as: :integer, label: false, input_html: {min: "0" , onchange: "calculate(this.value)"} %></td>
  <td style="width:155px;"><%= f.input :price, as: :decimal, label: false, input_html: {min: "0", onchange: "calculate()", step: "0.01"}%></td>
  <td style="width:155px;"><%= f.input :sum, as: :decimal, label: false, input_html: {min: "0", onchange: "calculate()", step: "0.01"} %></td>
  <td><%= link_to_remove_association '<span class="oi oi-trash"></span>'.html_safe, f %></td>
</tr>

